{% extends "vendors/base.html" %}

{% block vendor_title %}System Controls - Wahid Spare Hub{% endblock %}

{% block vendor_content %}
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>System Controls Page</h6>
      </div>
      <div class="card-body">
        <ul class="text-sm mb-0">
          <li>Category visibility</li>
          <li>Seller ranking logic</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
